@charset "utf-8";

/*****共通部分
***********************************************/
body {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  background: url("../images/mainvisual_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.introduction h2,
.about h2,
.goods_title {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  letter-spacing: 0.1em;
  margin-bottom: 5%;
  opacity: 0;
  transform: translateX(-50px);
  color: transparent; 
  -webkit-text-stroke: 1px #4AF1FF;
  filter: drop-shadow(2px 2px 10px rgba(74, 241, 255, 0.5)); 
}

.themesong_title,
.live_schedule h2 {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  letter-spacing: 0.1em;
  margin-bottom: 5%;
  opacity: 0;
  transform: translateX(-50px);
  color: transparent; 
  -webkit-text-stroke: 1px #548297;
  /* filter: drop-shadow(2px 2px 2px rgba(38, 143, 153, 0.5));  */
}

.slideConts {
  opacity: 0;
  transform: translateX(-50px);
}

/* アニメーション */
.slide {
  animation: slideAnime 2s ease forwards;
}

/* 遅延設定 */
.txt0 { animation-delay: 0s; }
.txt1 { animation-delay: 0.2s; }
.txt2 { animation-delay: 0.8s; }
.txt3 { animation-delay: 1.4s; }
.txt4 { animation-delay: 2.0s; }
.txt5 { animation-delay: 2.6s; }

@keyframes slideAnime {
  0% { opacity: 0; transform: translateX(-50px); visibility: hidden; }
  100% { opacity: 1; transform: translateX(0); visibility: visible; }
}

/* サイトを開いた時にロゴがふわっとフェードイン */
.logo_fadein{
	background: #EDEDED;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

/*デフォルトのマウスカーソルを非表示にする*/
html,
body,
a {
  cursor: none;
}

/*独自のマウスカーソルを作成*/
.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
  transform: translate(0, 0);
  pointer-events: none;
}

/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: rgba(74, 241, 255, 0.5);
}


/***** ヘッダー ***********************************************/
.header_top {
  position: fixed;
  top: 15%;
  left: 2%;
  height: 100vh;
  width: 200px;
  background-color: transparent;
  font-size: 1.2rem;
  z-index: 5;
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.header_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_navigation ul li {
  margin-bottom: 1.8rem;
}

/* ナビリンク */
.header_navigation ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: color 0.25s ease;
}

.header_navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;          
  width: 100%;
  height: 1px;
  background: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.7s ease;
}

.header_navigation ul li a:hover,
.header_navigation ul li a:focus-visible {
  color: #000; 
}

.header_navigation ul li a:hover::after,
.header_navigation ul li a:focus-visible::after {
  transform: scaleX(1); 
}


.sns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 15px;
  padding: 0 8px;
}

.sns a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sns img {
  width: 25px;
  height: 25px;
  transition: opacity 0.2s ease, filter 0.2s ease, transform 0.2s ease;
}

.sns a:hover img,
.sns a:focus-visible img {
  opacity: 0.6;           
  filter: brightness(1.1);  
  transform: translateY(-1px); 
}



/***** メインビジュアル ***********************************************/
.main_visual {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main_text {
  position: relative;
  right: 10%;
  bottom: 10%;
  text-align: center;
  z-index: 1;
}

.main-visual_title  {
  font-size: 10.4375rem;
  line-height: 1;
  margin: 0;
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.main-visual_subtitle {
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 0.13em;
  margin-bottom: 2px;
}

.main-visual_tour-info {
  font-size: 1.625rem;
  margin: 0;
  letter-spacing: 0.07em;
}

/***** INTRODUCTIONセクション
***********************************************/
.introduction {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: 15%;
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box; 
  padding: 10% 2%  8%;        
}

/* ぼかしオーバーレイ */
.introduction::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px);
  z-index: 0;
}

.introduction_text{
  position: relative;
  z-index: 3; 
}

/* 左からスライドイン */
.introduction p {
  font-size: 1rem;
  line-height: 2.5rem;
  margin-top: 3px;
  color: #fff;
  opacity: 0;
  transform: translateX(-50px);
}

/*****ライブスケジュールセクション
***********************************************/
.live_schedule {
  background-color: #EDEDED;
  position: relative;
  padding: 7% 10% 20% 20%;
}

/* 背景イラスト用img */
.live_bg {
  position: absolute;
  right: 0;
  bottom: 100px;
  width: 500px;
  height: auto;
  z-index: 1; 
  opacity: 0;
  transform: scale(0.95) translate(50px,50px); 
}

.live_bg.slide {
  animation: bgZoomFade 2.2s ease forwards;
}

@keyframes bgZoomFade {
  0% {
    opacity: 0;
    transform: scale(0.95) translate(50px,50px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0,0);
  }
}


/* h2 */
.live_schedule h2,
.about h2 {
  opacity: 0;
  transform: translateX(-50px);
}
.live_schedule h2.slide {
  animation: slideAnime 2s ease forwards;
}

.live_schedule_border {
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000; 
  width: 100%;
  margin: 6% 0 1%;
}

.tokyo_schedule,
.osaka_schedule {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  margin-bottom: 4rem;
  margin-top: 10%;
}
.tokyo_schedule div,
.osaka_schedule div {
  display: flex; 
  flex-direction: column;
}
.schedule-detail {
  width: 800px;
}
.schedule-date {
  font-size: 1.625rem;
  line-height: 0.8;
  letter-spacing: 0.12em;
}

.schedule-city { 
  font-size: 4rem;
  line-height: 1.1; 
  margin: 5px 0 10px;
}

.schedule-venue {
  font-size: 1.5rem;
  border-bottom: 4px solid #000; 
  padding-bottom: 0.2rem;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
.schedule-address,
.schedule-time {
  font-size: 1rem;
  border-bottom: 1px solid #000; 
  padding-bottom: 25px;
  letter-spacing: 0.1em;
}

.schedule-time {
  margin-top: 20px;
  line-height: 2;
}

.schedule-notice {
  font-size: 0.75rem;
  line-height: 2;
  margin-top: 15px;
}

/***** ABOUT セクション ***********************************************/
.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  box-sizing: border-box;
  padding: 8% 2% 12%;
  color: #fff;
}

/* ぼかしオーバーレイ */
.about::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 0;
}

.about_content {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1; 
  margin-top: 60px;
}

.about_image {
  position: sticky;
  top: 15%;
  transform: rotate(-10.5deg);
  width: 500px;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
}

.about_image {
  position: sticky;
  top: 15%;
  transform: rotate(-10.5deg) scale(0.8); 
  opacity: 0;
  transition: none; 
}

.about_image.slide {
  animation: zoomFadeIn 1.5s ease forwards;
}

@keyframes zoomFadeIn {
  0% {
    opacity: 0;
    transform: rotate(-10.5deg) scale(0.8) translate(-50px, 50px); 
  }
  100% {
    opacity: 1;
    transform: rotate(-10.5deg) scale(1) translate(0, 0); 
  }
}

.about_comment {
  margin-left: 12%;
  margin-top: 10%;
}

.about_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Ado の見出し */
.about_name {
  font-size: 5rem;
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 40px;
  display: inline-block;
  width: 100%;
}

/* 説明文 */
.about_text .slideConts {
  font-size: 1rem;
  line-height: 2.5;
  opacity: 0;
  transform: translateX(-50px);
  margin-bottom: 20px;
}

/* フェードイン＋スライドイン */
.about_text .slideConts.slide {
  animation: slideAnime 2s ease forwards;
}

/* アニメーション共通 */
@keyframes slideAnime {
  0% { opacity: 0; transform: translateX(-50px); visibility: hidden; }
  100% { opacity: 1; transform: translateX(0); visibility: visible; }
}

/***** THEMESONG セクション ***********************************************/
.themesong {
  background-color: #EDEDED;
  padding: 5% 10% 10%;
  letter-spacing: 0.1em;
}

.themesong_title.slide {
  animation: slideAnime 2s ease forwards;
}

.video {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  z-index: 0;
  width: fit-content;
  margin: 0 5%; 
}

/* 黒のオーバーレイ */
.video::after {
  content: "";
  position: absolute;
  inset: 0; 
  background: rgba(0,0,0,0.5); 
  pointer-events: none; 
  z-index: 1; 
}

/* 再生アイコン */
.video_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 0;
  padding-top: 100%;
  background: url(../images/video_play.svg) no-repeat center center / 100% auto;
  pointer-events: none;
  transition: transform .6s ease; 
  z-index: 2;
}

.video:hover .video_play {
  transform: translate(-50%, -50%) scale(1.2); 
}

.video img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.themesong_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

/* YouTube動画 */
.themesong_video {
  width: 80%;
  max-width: 800px;
  height: 450px;
  border: none;
}

/* 曲タイトル */
.themesong_name {
  font-size: 2.25rem;  
  font-weight: 600;
  margin-top: 1rem;
}

/* 詳細情報 */
.themesong_detail {
  font-size: 1rem;
  line-height: 2rem;
  max-width: 800px;
}

/***** グッズセクション ***********************************************/
.goods {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box; 
  padding: 10% 2%  8%;        
}

/* ぼかしオーバーレイ */
.goods::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(5px);
  z-index: 0;
}

/* 画像 */
.goods_image {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateX(-50px);
  padding: 0 5% 10%;
}

/* 右からの無限ループ */
@keyframes infinity-scroll-left {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}

/* 左からの無限ループ */
@keyframes infinity-scroll-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}

/* スライダー*/
.scroll-infinity {
  margin: 0;
  padding: 0;
  line-height: 0; 
}

.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* リスト */
.scroll-infinity__list {
  display: flex;
  list-style: none;
  margin: 0; 
  padding: 0;       
}

/* アニメーション */
.scroll-infinity__list--left  { animation: infinity-scroll-left 80s infinite linear 0.5s both; }
.scroll-infinity__list--right { animation: infinity-scroll-right 80s infinite linear 0.5s both; }

/* アイテム */
.scroll-infinity__item {
  width: calc(100vw / 4);
}

.scroll-infinity__item > img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  vertical-align: top; 
}

/***** FOOTER ***********************************************/
.footer_top {
  background-color: rgba(12, 25, 35, 0.8); 
  color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  position: relative;  
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.footer_center {
  display: inline-block;
}

/* コピーライト */
.footer_copy {
  position: absolute;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.625rem;
  letter-spacing: 0.07em;
}

/* スクロールアニメーション */
.scroll-down_06 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.circle-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  margin-bottom:12px;
  margin-inline: auto;
  animation: pulse 2s infinite;
}

.circle-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}